{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-primary">Bienvenue sur l'Application</h1>
        <p class="text-muted mt-4">
            Cette application est un outil puissant conçu pour faciliter le calcul des coefficients de diffusion 
            en phase liquide. Ces calculs nécessitent des propriétés thermodynamiques déterminées à l'aide de la méthode UNIFAC.
        </p>
        <p class="text-muted">
            Elle est idéale pour les chercheurs, ingénieurs et étudiants travaillant sur les mélanges multicomposants 
            et souhaitant optimiser leurs analyses thermodynamiques grâce à des outils fiables et précis.
        </p>
    </div>
</div>
{% endblock %}
