{% extends 'base.html' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h2 class="text-center text-warning mb-4">Réinitialisation du mot de passe</h2>
                    <form method="POST" action="{{ url_for('reset_request') }}">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            <label for="email">Adresse Email</label>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-warning btn-lg w-100">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
